body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aqua;
  border-color: white;
}

input {
  width: 100%;
  margin: 0;
  border: 0;
  padding: 5px;
}
